.venv/
# Python virtual environment

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
downloads/
.eggs/
*.egg-info/
.installed.cfg
lib/
lib64/
parts/
sdist/
var/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# env
.env
venv/
ENV/
env.bak/

# VS Code
.vscode/

# macOS
.DS_Store
